//
// base/layouts/_landing.scss: layout for a landing/'single page'.
//

header {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    background: color('blue');
}

main {
    position: relative;
    top: 100vh;
}

.panel {
    padding: 12em 0;
    position: relative;

    &:nth-child(2n) {
        background: color('blue');
        color: color('white');

        h1 {
            color: color('white');
        }
    }
}

.content {
    width: calc(80% - 4em);
    padding: 0 2em;
    margin: 0 auto;
    position: relative;
}
